@using WisnomeVilla_Server.Model;

<div class="bg-light p-2 col-5 offset-1" @onclick="(args) => AmenitySelectionChanged(args,Amenities.Name)">
    <h4 class="text-secondary">Amenities - @Amenities.Id</h4>

    @Amenities.Name <br />
    @Amenities.Summary<br />
</div>

@*<h3>IndividualAmenities</h3>*@

@code {
    [Parameter]
    public BlazorAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync((string)name);
    }
}
